/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/* Base styles */
html {
  background-image:
    linear-gradient(to right, rgba(12, 224, 255), rgba(159, 34, 255));
    background-size: contain;
  color: white;
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.222em; /* 22px / 18px = 1.222... */
  padding: 1.222em 1em;
}

a {
  text-decoration: none;
  color: white;
}

.description {
  padding-left: 10px;
}

.description li {
  padding: 5px 5px 5px 0;
}

h1 {
  line-height: 1.222em;
  margin-bottom: 0.367em; /* 22px / 60px */
  text-align: center;
  font-size: 3.797em; /* 60px / 16px */
  line-height: 1.222em;
}

h2 {
  font-size: 2.531em; /* 60px / 16px */
  line-height: 1.222em;
}

h3 {
  font-size: 1.688em; /* 48px / 16px */
  line-height: 1.222em;
}

img {
  max-width: 30vw;
}

/* Layout */
#header {
  margin-bottom: 2em;
}


/* Module/ Modular */
article {
  padding: 10px 0 10px 20px;
}

#by-hand, #digital{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#by-hand figure {
  margin-top: 30px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.menu ul li {
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background-color: rgba(62, 62, 62, 0.6);
}

#resume-content {
  display: flex;
  flex-direction: column;
}

section {
  flex: 0 1 auto;
  width: 80vw;
  align-self: center;
  padding: 0 10px 10px 10px;
  margin: 10px 0 10px 0;
  background-color: rgba(62, 62, 62, 0.3);
}

#skills > ul {
  padding-left: 10px;
}

/* State */
a:hover {
  color: yellow;
}

@media (min-width: 400px) {
  html {
    font-size: 1em;
  }
  .menu ul {
    flex-direction: row;
  }
}
